{% extends "base_generic.html" %}
{% block content %}
<body>
  <div class="container-fluid">
    <div class="contenido">
      <br>
      <br>
      <h1>Ingresar Una Pelicula</h1>
      <br>
      <br>
      <form action="" method="post">
          {% csrf_token %}        <!--proteger la información-->
          <table>
          {{ form.as_table }}
          </table>
          <div style="text-align: left;">
          <br>
          <br>
          <br>
          <button  class="btn btn-primary" type="submit" value="Registrar">Registrar</button>
          <br>
          </div>
      </form>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</body>
{% endblock %}