{% extends "base_generic.html" %}
{% block content %}

{% load static %}
<body>
  <section>
    <div id="demo" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/Bienvenidos.jpg' %}" alt="Los Angeles" height="600">  
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/carruselfoto1.jpg' %}" alt="Chica"  height="600">
          <div class="carousel-caption">
            <h3>Bob Sponja The Movie</h3>
          </div>   
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/carruselfoto2.jpg' %}" alt="Chica"  height="600">
          <div class="carousel-caption">
            <h3>Avengers Infinity War</h3>
          </div>   
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/carruselfoto3.jpg' %}" alt="Chicago"  height="600">
          <div class="carousel-caption">
            <h3>Spiderman Regreso a Casa</h3>
          </div>   
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/carruselfoto4.jpg' %}" alt="New York" height="600">
          <div class="carousel-caption">
            <h3>It!</h3>
          </div>   
        </div>
      </div>
      <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="false"></span>
      </a>
      <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="false"></span>
      </a>
    </div>
  </section>
  <main>
    <div class="album py-5" style="background:darkslategrey;" >
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="{% static 'img/pelicula1.jpg' %}" width="100%" height="400" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
              <div class="card-body">
                <h1 class="tituloR">John Wick</h1>
                <p class="card-text">La historia se centra en John Wick (Reeves) en busca de los hombres que irrumpieron en su casa, 
                                robaron su coche vintage y mataron a su cachorro, que fue un último regalo para él de su esposa recientemente fallecida (Moynahan). 
                                Stahelski y David Leitch dirigieron la película juntos, aunque sólo Stahelski fue acreditado.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="{% static 'img/pelicula2.jpg' %}" width="100%" height="400" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
              <div class="card-body">
                <h1 class="tituloR">Bob Sponja Al Rescate</h1>
                <p class="card-text">La película empieza en un documental sobre la Isla Bikini mostrando la arrecife que rodea Fondo de bikini. 
                                      Bob Esponja sigue un día normal junto a Gary haciendo varias actividades hasta el día siguiente donde Bob deja a Gary en casa para ir a trabajar.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="{% static 'img/pelicula3.jpg' %}" width="100%" height="400" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
              <div class="card-body">
                <h1 class="tituloR">Avengers Infinite Wars</h1>
                <p class="card-text">Después de haber adquirido la Gema del Poder que había quedado bajo custodia de los Nova Corps en el planeta Xandar,
                                      ​el malvado titán intergaláctico Thanos, intercepta la nave espacial que transportaba a los sobrevivientes de la destrucción de Asgard y 
                                      la ataca. Durante el asalto a la nave, Thanos y sus lugartenientes, Ebony Maw, Cull Obsidian, Próxima Midnight y Corvus Glaive,
                                      exterminan a la mitad de la tripulación.​</p>
                </div>
              </div>
            </div>
          <br>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="{% static 'img/pelicula4.jpg' %}" width="100%" height="400" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
              <div class="card-body">
                <h1 class="tituloR">Avengers End Game</h1>
                <p class="card-text">23 días después de que Thanos usara el Guantelete del Infinito para desintegrar la mitad de la vida en el universo, 
                                      Carol Danvers rescata a Tony Stark y Nebula del espacio profundo y los devuelve a la Tierra, donde se reúnen con los Vengadores restantes:
                                      Bruce Banner, Steve Rogers, Thor, Natasha Romanoff, James Rhodes, y Rocket. Al ubicar a Thanos en un planeta deshabitado, planean usar 
                                      las Gemas del Infinito para revertir "el chasquido", 
                                      pero Thanos revela que destruyó las Gemas para evitar un uso posterior. Enfurecido, Thor decapita a Thanos.</p>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="{% static 'img/pelicula5.jpg' %}" width="100%" height="400" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
              <div class="card-body">
                <h1 class="tituloR">It! (Año 2017)</h1>
                <p class="card-text">En el pueblo de Derry, Maine, un joven llamado Bill Denbrough (Jaeden Martell) ayuda a su hermano pequeño, Georgie Denbrough (Jackson Robert Scott) 
                                      a hacer un barco de papel. Bill le pide que baje al sótano por parafina para impermeabilizarlo, 
                                      George baja y consigue la parafina para el barco aunque nota allí una presencia que lo asusta. Bill, 
                                      con su hermano abrazándole, unta el barco con la parafina y se lo entrega a 
                                      Georgie para que vaya a jugar en la lluvia excusándose de no poder acompañarlo ya que está muy enfermo.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="{% static 'img/pelicula6.jpg' %}" width="100%" height="400" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
              <div class="card-body">
                <h1 class="tituloR">Your Name </h1>
                <p class="card-text">Los protagonistas, Taki y Mitsuha, son dos completos desconocidos, y a pesar de eso están destinados a conocerse.
                                      Durante el sueño, ambos adolescentes intercambian sus cuerpos, con resultados impredecibles en la vida de ambos.
                                      ​Mitsuha es una joven de pueblo que anhela la emoción de la vida de la ciudad. Un día, sueña con un chico tal y como desea, al mismo tiempo que el chico en cuestión, 
                                      Taki, de la gran ciudad, sueña a su vez con Mitsuha, una encantadora chica del campo.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="{% static 'img/pelicula7.jpg' %}" width="100%" height="400" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
              <div class="card-body">
                <h1 class="tituloR">El Viaje de Chihiro</h1>
                <p class="card-text">hihiro y sus padres se están mudando a otra ciudad, un hecho que la niña encuentra molesto al no estar de acuerdo 
                                      con el cambio, y no duda en demostrarlo con su falta de ánimo y mal humor. Durante el trayecto, su padre decide tomar un atajo para ahorrar tiempo, 
                                      pero solo consiguen internarse en un bosque y encontrarse frente a un estrecho y extraño túnel. </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="{% static 'img/pelicula8.jpg' %}" width="100%" height="400" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
              <div class="card-body">
                <h1 class="tituloR">Interstellar</h1>
                <p class="card-text">A mediados del siglo XXI, la destrucción de las cosechas en la Tierra ha hecho que la agricultura sea 
                                      cada vez más difícil y se vea amenazada la supervivencia de la humanidad. Joseph Cooper, viudo, exingeniero y piloto de la 
                                      NASA, dirige una granja con su suegro Donald, su hijo Tom y su hija Murph, quien cree que su habitación está embrujada
                                      por un poltergeist. Cuando aparecen inexplicablemente extraños patrones de polvo en el suelo de la habitación de Murph, 
                                      Cooper se da cuenta de que la gravedad está detrás de su formación, no un "fantasma".</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="{% static 'img/pelicula9.jpg' %}" width="100%" height="400" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
              <div class="card-body">
                <h1 class="tituloR">El Conjuro</h1>
                <p class="card-text">En 1971, Roger y Carolyn Perron (Ron Livingston y Lili Taylor) son un matrimonio que se 
                                      traslada con sus cinco hijas a una granja en Harrisville. El primer día como propietarios resulta ser idílico 
                                      a excepción del extraño comportamiento de su perra Sadie, la cual se niega a entrar y empieza a ladrar; por 
                                      otro lado, una de las hijas rompe sin querer un tablón de la pared y 
                                      descubren un sótano y una de las hijas (la menor) encuentra una caja musical extraña.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="texto">
    <h2>Dynamic content</h2>
      <p>The library has the following record counts:</p>
      <ul>
        <li ><strong>Pelicula:</strong> {{ num_pelicula }}</li>
        <li ><strong>Authors:</strong> {{ num_authors }}</li>
      </ul>
  </div>
</body>
{% endblock %}